extends layout

block content
  h1 About Us
  p Welcome to our Book Review Application

  // Additional paragraphs or sections can go here
  section
    h2 Our Team
    p Meet the passionate individuals behind our platform:
    ul.team
      li
        h3 Bhanu Mahesh
        p Lead Developer
