extends layout

block content
  .container#contact-us-container
    .row.justify-content-center
      .col-md-8
        h1#contact-us-title.text-center Contact Us

        // Contact information display section
        .card#contact-info-card
          .card-body
            h2#info-title Card Information
            p#email-info
              strong Email: 
              | App@bookreviews.com
            p#phone-info
              strong Phone: 
              | +123 456 7890
            p#address-info
              strong Address: 
              | Book St., Chicago, Illinois

            // Button to navigate back to the homepage or further contact actions
            .d-flex.justify-content-around.mt-4
              button.btn.btn-primary(onclick="location.href='/'", type="button") Home
             
