extends layout

block content
  .container.mt-5#error-container
    .row.justify-content-center
      .col-md-8
        h1.text-center#error-title Error

        // Displaying the error message
        h2#status.text-warning Status: #{error.status || "Unknown"}
        p#message.text-danger Message: #{error.message || "An unknown error occurred."}

        // Conditionally display additional error details (for development use)
        if error.stack
          pre#debug-info #{error.stack}

        // Link to go back home or to a help page
        a.btn.btn-primary(href='/') Go back to home
