extends layout

block content
  h1 Book Reviews App

  // User navigation
  ul.navigation
    if user
      li Welcome #{user.username}
      li
        a(href='/books/create') Add New Book
      li
        a(href='/users/logout') Logout
    else
      li
        a(href='/users/login') Login
      li
        a(href='/users/register') Register

  // Add book link (visible to logged-in users)
  if user
    a(href='/books/') View Books
