extends layout

block content
  h1 Book Reviews App

  // User navigation
  ul.navigation
    if user
      li Welcome #{user.username}
      li
        button(onclick="location.href='/books/create'" type="button" class="button-link") Add New Book
      li
        button(onclick="location.href='/users/logout'" type="button" class="button-link") Logout
    else
      li
        button(onclick="location.href='/users/login'" type="button" class="button-link") Login
      li
        button(onclick="location.href='/users/register'" type="button" class="button-link") Register

  // Add book link (visible to logged-in users)
  if user
    button(onclick="location.href='/books/'" type="button") View Books

  button(onclick="location.href='/about'", type="button") About
  button(onclick="location.href='/contact'", type="button") Contact