extends layout

block content
  .container.mt-5#login-container
    .row.justify-content-center#login-row
      .col-md-6#login-col
        h1#login-title Login
        if messages && messages.error && messages.error.length > 0
          .alert.alert-danger#login-alert
            each error in messages.error
              p= error
        form(action='/users/login', method='POST', id='login-form')
          .form-group#username-group
            label(for='username', id='username-label') Username
            input#username.form-control(type='text', name='username', required='required', placeholder='Enter your username')
          .form-group#password-group
            label(for='password', id='password-label') Password
            input#password.form-control(type='password', name='password', required='required', placeholder='Enter your password')
          button.btn.btn-primary(type='submit', id='login-button') Log In
