extends layout

block content
  h1 Login
  if error
    p.error #{error}

  form(action='/users/login', method='POST')
    div.form-group
      label(for='username') Username:
      input#username(type='text', name='username', required='required')

    div.form-group
      label(for='password') Password:
      input#password(type='password', name='password', required='required')

    button(type='submit') Log in
