extends layout

block content
  .container.mt-5
    .row.justify-content-center
      .col-lg-6
        h1.mb-4 Register
        form(action='/users/register', method='POST')
          .form-group
            label(for='username') Username
            input#username.form-control(type='text', name='username', required='required', placeholder='Username')

          .form-group
            label(for='password') Password
            input#password.form-control(type='password', name='password', required='required', placeholder='Password')

          .form-group
            label(for='confirmPassword') Confirm Password
            input#confirmPassword.form-control(type='password', name='confirmPassword', required='required', placeholder='Confirm Password')

          button.btn.btn-primary(type='submit') Register

        if error
          .alert.alert-danger
            each error in messages.error
              p= error
